@tailwind base;
@tailwind components;
@layer components {
    .dark--text {
        @apply text-gray-700 dark:text-[#6D7993];
    }
    .tw-logo {
        @apply h-12 w-12 fill-primary;
    }
	.login-bg {
		@apply relative z-[1] w-full max-w-lg before:absolute before:bg-[url('/images/login-left.png')];
		@apply before:left-[-45px] before:top-[-70px] before:z-[-1] before:h-[244px] before:w-[244px];
		@apply after:absolute after:bg-[url('/images/login-right.png')];
		@apply after:right-[-50px] after:bottom-[-50px] after:z-[-1] after:h-[244px] after:w-[244px];
	}
	/* Form components */
	.form-group {
		@apply mb-2;
	}
	label,
	.form-label {
		@apply dark--text mb-1.5 block text-sm font-medium;
	}
	.form-input,
	.form-select,
	.form-multiselect,
	.form-textarea {
		@apply block w-full rounded-md border-gray-300 bg-gray-50 focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 dark:border-gray-800 dark:bg-gray-700 dark:ring-gray-800;
	}
	.form-select-sm {
		@apply py-1.5 text-xs;
	}
	.form-checkbox {
		@apply mr-1.5 rounded border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0;
	}
	.form-radio {
		@apply mr-1.5 rounded-full border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0;
	}
	.form-input.is-invalid {
		@apply border-red-500 focus:border-red-300 focus:ring focus:ring-red-200;
	}
	.form-input.is-valid {
		@apply border-green-500 focus:border-green-300 focus:ring focus:ring-green-200;
	}

	/* form input sm */
	.form-input-sm {
		@apply h-8 px-2 text-sm;
	}
	/* form input large */
	.form-input-lg {
		@apply px-2 text-2xl;
	}
	.has-success .form-input,
	.has-success .form-input,
	.has-success .form-select,
	.has-success .form-multiselect,
	.has-success .form-textarea {
		@apply border-success bg-green-100 focus:border-green-300 focus:ring focus:ring-green-200;
	}
	.has-error .form-input,
	.has-error .form-input,
	.has-error .form-select,
	.has-error .form-multiselect,
	.has-error .form-textarea {
		@apply border-danger bg-red-100 focus:border-red-300 focus:ring focus:ring-red-200;
	}
    /* button */
    .btn {
        @apply flex items-center justify-center rounded-md border px-4 py-2 text-center text-sm font-medium transition-all duration-300 ease-in-out dark:border-gray-700;
    }
    .btn-primary {
        @apply bg-primary text-white hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-300;
        @apply dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-900;
    }
    .btn-secondary {
        @apply bg-secondary text-white hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-300;
        @apply dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-900;
    }
    .btn-success {
        @apply bg-success text-white hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300;
        @apply dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900;
    }
    .btn-danger {
        @apply bg-danger text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300;
        @apply dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
    }
    .btn-warning {
        @apply bg-warning text-white hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-300;
        @apply dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-900;
    }
    .btn-info {
        @apply bg-info text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300;
        @apply dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900;
    }
    .btn-light {
        @apply bg-gray-200 text-gray-800 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300;
        @apply dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-900;
    }
    .btn-dark {
        @apply bg-gray-800 text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-300;
    }
    .btn-outline-primary {
        @apply border border-primary text-primary hover:bg-primary hover:text-white focus:outline-none focus:ring-2 focus:ring-primary-300;
        @apply dark:border-primary-600 dark:hover:bg-primary-600 dark:hover:text-white dark:focus:ring-primary-900;
    }
    .btn-outline-secondary {
        @apply border border-secondary text-secondary hover:bg-secondary hover:text-white focus:outline-none focus:ring-2 focus:ring-gray-300;
        @apply dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-900;
    }
    .btn-outline-success {
        @apply border border-success text-success hover:bg-success hover:text-white focus:outline-none focus:ring-2 focus:ring-green-300;
        @apply dark:border-green-600 dark:hover:bg-green-600 dark:hover:text-white dark:focus:ring-green-900;
    }
    .btn-outline-danger {
        @apply border border-danger text-danger hover:bg-danger hover:text-white focus:outline-none focus:ring-2 focus:ring-red-300;
        @apply dark:border-red-600 dark:hover:bg-red-600 dark:hover:text-white dark:focus:ring-red-900;
    }
    .btn-outline-warning {
        @apply border border-warning text-warning hover:bg-warning hover:text-white focus:outline-none focus:ring-2 focus:ring-yellow-300;
        @apply dark:border-yellow-600 dark:hover:bg-yellow-600 dark:hover:text-white dark:focus:ring-yellow-900;
    }
    .btn-outline-info {
        @apply border border-info text-info hover:bg-info hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-300;
        @apply dark:border-blue-600 dark:hover:bg-blue-600 dark:hover:text-white dark:focus:ring-blue-900;
    }
    .btn-outline-light {
        @apply border border-gray-200 text-gray-200 hover:bg-gray-200 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-300;
        @apply dark:border-gray-800 dark:hover:bg-gray-800 dark:hover:text-white dark:focus:ring-gray-900;
    }
    .btn-outline-dark {
        @apply border border-gray-800 text-gray-800 hover:bg-gray-800 hover:text-white focus:outline-none focus:ring-2 focus:ring-gray-300;
        @apply dark:border-gray-900 dark:hover:bg-gray-900 dark:hover:text-white dark:focus:ring-gray-900;
    }
    .btn-sm {
        @apply rounded-lg px-2.5 py-1.5 text-xs;
    }
    .btn-lg {
        @apply rounded-lg text-lg;
    }
    .btn-block {
        @apply w-full;
    }
    .btn-circle {
        @apply transition-colors duration-500 ease-in-out active:bg-gray-200;
        @apply flex h-8 w-8 cursor-pointer items-center justify-center rounded-full text-gray-400;
    }
    .btn-link {
        @apply text-primary hover:text-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-300;
        @apply dark:text-primary-600 dark:hover:text-primary-700 dark:focus:ring-primary-900;
    }

    /* disabled button */
    .btn:disabled {
        @apply cursor-not-allowed opacity-50;
    }
}
@tailwind utilities;
